body {
  background-color: white;
  font-family: "Metrophobic", sans-serif;
}

h1 {
    padding-left: 24%;
    font-family: "IBM Plex Serif", serif;
}

h2 {
    text-align: center;
    padding-left: 5%;
    padding-bottom: 10px;
}

pre {
    font-family: "Metrophobic", sans-serif;
    padding-left: 25px;
    padding-top: 100px;
    font-size: 13px;
    color: rgb(52, 52, 52);
}

a {
    color: blue;
}

.page {
    width: 80%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
}

.left-p {
    padding-left: 12%;
    padding-right: 40px;
}

.right-p {
    padding-left: 25%;
}

.asia {
    background-color: rgba(255, 127, 0, 0.5);
}

.europe {
    background-color: rgba(61, 135, 196, 0.4);
}

.north-america {
    background-color: rgba(159, 64, 173, 0.35);
}

.south-america {
    background-color: rgba(240, 22, 25, 0.4);
}

.africa {
    background-color: rgba(4, 0, 255, 0.3);
}

.pure-u-10-24 {
    display: grid;
    align-items: center;
}

#center-text {
    padding-left: 33%;
    padding-right: 30%;
}

#map-dropdown {
    padding-left: 200px;
}

#bubble-plot-dropdown {
    padding-left: 55px;
}

#word_cloud {
    padding-left: 13%;
}

#ranged_dot_plot {
    padding-left: 10%;
}

#map {
    padding-left: 10%;
}

#top-h2 {
    margin-top: 70px;
}

#bottom-h2 {
    margin-top: 60px;
}

#vg-tooltip-element {
    font-family: "Metrophobic", sans-serif;
}

@font-face {
    font-family: Metrophobic;
    src: url(https://fonts.googleapis.com/css2?family=Metrophobic&display=swap);
}